*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: rgb(243, 242, 242);
}

form{
  margin-left: 10px;
}

ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}

input:focus, select:focus{
  border-bottom: 2px solid rgba(119, 218, 235, 0.986);
  outline: none;
}